<launch>
  <include file = "$(find tracking_cam)/launch/camera.launch" />
  <include file = "$(find tracking_cam)/launch/camtrack.launch" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transformer_broadcaster"
    args="0 0 0 -0.2705981 0.2705981 -0.6532815 0.6532815 yumi_base_link camera_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transformer_broadcaster1"
    args="0 0 0 1 0 0 0 ar_marker_0 follow_left" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transformer_broadcaster2"
    args="0 0 0 1 0 0 0 ar_marker_3 follow_right" />
    #0 0 0 -0.2705981 0.2705981 -0.6532815 0.6532815 - 45/90
    #0.1 0 0.45 -0.7071 0.7071 0 0 - top
    #0.1 0 0.45 0 0.9848078 0 0.1736482 - top tilted 20 0/160/0
    #-0.4055798, 0.4055798, -0.579228, 0.579228 - 70 / 90
    #--0.3535534, 0.3535534, -0.6123724, 0.6123724 - 60/90
    #--
    #There is a need to change the orientation of the ar_markers. The easiest way to
    #do it is using static_transform_publisher. Just have to assign the marker based on
    #following: Left arm assign it to follow_left and right arm follow_right
    #Eg. ar_marker_0 - follow_left - ar_marker_1 - follow_right
</launch>
